.dflex{
  display: flex;
  &-column{
    flex-direction: column;
  }
  &-grow-1{
    flex-grow: 1;
  }
  &-between{
    justify-content: space-between;
  }
  &-right{
    justify-content: end;
  }
}

