.app-info {
  padding: 8px 12px;
  background: $accent;
  color: $white;
  > * {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-se;
    font-size: 14px;
  }
  &-title {
    font-weight: 700;
  }
  &-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}