.compose-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    .cgbtn {
      margin-left: 0;
      width: 100%;
      text-align: left;
      img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
      &::before, &::after {
        display: none;
      }
    }
  }
}