@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 75px;
  text-align: center;
  width: 100%;
  height: calc(100% - 125px);
  background: white;
  flex-grow: 1;
  padding-top: 100px;
}

.cg-loader {
  text-align: center;
  width: 100%;
}

.rotating {
  animation: rotating 2s linear infinite;
  -webkit-animation: rotating 2s linear infinite;
}

